<div class="container">
    <h1>Google Maps Places Autocomplete Using Angular 2</h1>
    <div class="form-group">
       <input type="text" placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <label for="Locate Shop"><h3>Free Listing</h3></label>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
              <div class="col-xs-12">
                  <label for="name">Business Name:</label>
                  <input
                      type="text"
                      id="name"
                      class="form-control"
                      name="name"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-12">
                  <label for="building">Building:</label>
                  <input
                      type="text"
                      id="building"
                      class="form-control"
                      name="building"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-12">
                  <label for="street">Street:</label>
                  <input
                      type="text"
                      id="street"
                      class="form-control"
                      name="street"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-12">
                  <label for="landmark">Landmark:</label>
                  <input
                      type="text"
                      id="landmark"
                      class="form-control"
                      name="landmark"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-12">
                  <label for="area">Area:</label>
                  <input
                      type="text"
                      id="area"
                      class="form-control"
                      name="area"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-12">
                  <label for="city">City:</label>
                  <input
                      type="text"
                      id="city"
                      class="form-control"
                      name="city"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">     
              <div class="col-xs-12">
                  <label for="pincode">Pincode:</label>
                  <input
                      type="text"
                      id="pincode"
                      class="form-control"
                      name="pincode"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-12">
                  <label for="state">State:</label>
                  <input
                      type="text"
                      id="state"
                      class="form-control"
                      name="state"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-12">
                  <label for="country">Country:</label>
                  <input
                      type="text"
                      id="country"
                      class="form-control"
                      name="country"
                      ngModel
                      required
                  >
              </div>
          </div>
          <br>
        <div class="row">
          <div class="col-xs-12">
              <button
              type="submit"
              class="btn btn-primary">
              Submit
              </button>
          </div>
        </div>
      </form>
  </div>
</div>
  